html, body {
	margin:0;
	padding:0;
	height:100%;
	/* overflow: hidden; */
}

.home-body{
	margin:0;
	padding:0;
	height:100%;
	/* overflow: hidden; */
}

.bc-lead-picture{
	text-align: center;
}
.bc-lead-picture img{
	width: 100%;
}
.bc-lead-container{
	position: absolute;
	top: 20%;
	left: 4%;
}

.bc-lead-tagline{
    font-size: 40px;
    font-weight: 700;
    font-family: Graphik LC Web,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #47b972;
}

.bc-lead-tagline-exp{
    font-size: 24px;
    font-weight: 600;
    font-family: Graphik LC Web,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #47b972;
    margin-top: 10px;
}

.bc-lead-content{
    font-size: 17px;
    font-weight: 400;
    font-family: Graphik LC Web,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #47b972;
    margin-top: 30px;
    max-width: 400px;
}

.firstpage-body{
	overflow: auto;
}

#firstpage-top-text{
	float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 14px;
    font-family: Graphik LC Web,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.firstpage-top-btn{
	color :#f4511e;
	font-weight: bold;
	cursor: pointer;
}

.get-started-btn-div{
    position: absolute;
    top: 55%;
    left: 4%;
}

.get-started-btn-div .get-started-btn{
    width: 200px;
    height: 55px;
    font-size: 20px;
    position: absolute;
}

.lead-impressions-div{
	height: 380px;
	text-align: center;
	font-style: italic;
	margin: 30px 20px;
}

.lead-impressions{
	float: left;
    width: 300px;
    height: 225px;
    margin: 52px;
}

.lead-impressions .desc-text{
	margin-top: 20px;
	font-size: 20px;
}

.join-acc-body{
	margin: 15%;
    text-align: center;
}

#first-page-logout{
  background-color: #f4511e;
  color: #fff;
  padding: 7px 22px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

#login-form-div{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 35%;
	bottom: 0;
	text-align: center;
	width: 20%;
}

#signup-form-div{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  text-align: center;
  width: 20%;
}

#create-account-form-div{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  text-align: center;
  width: 20%;
}
#join-acc-authentication{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  text-align: center;
  width: 20%;
}

.firstpage-textbox-space .textbox_space {
    width: 100%;
}
.modal .textbox_space {
	width: 468px;
	margin: 10px 10px;
}
.firstpage-textbox-space .textbox_space .textbox { 
    height: 35px; 
    width: 100%; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: black; 
    outline:0; 
    margin: 8px 8px;
} 
.modal input[type=text] { 
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background-image: none;
    width: 270px;
} 
.modal label{
	width: 100px;
}
.bc-firstpage-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.bc-firstpage-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bc-firstpage-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.bc-firstpage-btn:hover span {
  padding-right: 15px;
}

.bc-firstpage-btn:hover span:after {
  opacity: 1;
  right: 0;
}

#create-new-account.btn{
    background-color: #f4511e;
    color: #fff;
    padding: 7px 30px;
    border-radius: 0px !important;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-left: 70px;
}
#join-acc-btn.btn{
  width: 120px;
}

#accounts-list{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 10px 50px;
    width: auto;
    left: 0;
    right: 0;
}
#accounts-list .accounts{
	border: 1px solid;
    width: 300px;
    height: 120px;
    margin: 20px 20px;
    float: left;
    padding: 3px 3px;
    cursor: pointer;
}
#accounts-list .accounts:hover{
	background-color: #51d2b7;
}
#accounts-list .accounts span{
    font-size: 20px;
}

#home-accounts-list .home-accounts{
	padding: 15px 15px;
	cursor: pointer;
}

#home-accounts-list .home-accounts:hover{
	background-color: #51d2b7;
}

#home-accounts-list .home-accounts span{
	font-size: 20px;
}

#home-accounts-list .home-accounts.active{
	background-color: #cbfbf0;
}

#home-accounts-list .icon-ok{
	color: #51d2b7;
    font-size: 20px;
    padding-right: 8px;
}

.formvalidation.validation-err-box{
	border-color: #f4511e !important;
}

#ajax-failure-box{
    position: fixed;
    z-index: 99999;
    width: 100%;
    text-align: center;
    top: 0px;
}
#ajax-failure-box .content{
    background: #e66150;
    border: 1px solid #e66150;
    width: 550px;
    margin: 0 auto;
    line-height: 40px;
    color: white;
    position: relative;
    height: 40px;
}

#hintbox{
	position: absolute;
    background-color: rgb(243, 115, 115);
    max-height: 80px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    padding: 8px 13px;
    border-radius: 3px;
    font-size: 12px;
    webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    max-width: 200px;
}
.left{
	width: 15% !important;
	height: 100% !important;
	float: left;
	overflow: auto;
}
.center{
	width: 60% !important;
	height: 100% !important;
	float:left;
}
.right{
	width: 25% !important;
	height: 100% !important;
	float:left;
	background: #eaeaea;
	overflow: auto;
}
#accounts-right-slider{
	width: 100% !important;
	height: 100% !important;
	float:left;
	background: #eaeaea;
}
#budgets-right-slider{
	width: 100% !important;
	height: 100% !important;
	float:left;
	background: #eaeaea;
}
#home-budgets-list .empty-data-text{
  text-align: center;
}
.right-slide-toggle{
	position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #eaeaea;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}
#accounts-heading, #budgets-heading{
	height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding-left: 15px;
}
.budget-header{
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.budget-status{
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.budget-status-bar{
    height: 22px;
    margin-top: 5px;
	margin-bottom: 5px;
}
.budget-status-left-bar{
    background-color: #C9353B;
    float: left;
}
.budget-status-right-bar{
    background-color: #368cb2;
    float: right;
}
.budget-container{
    margin: 15px 10px;
    padding: 5px;
    background-color: #d0d0d0;
    cursor: pointer;
}
.budget-container:hover{
	background-color: #a5a5a5;
}
.budget-container.active{
	background-color: #4d4d4d;
}
.budget-container.active .text{
	color: #e8e7e7;
}
.budget-tag, .budget-amount, .budget-repeat, .seperator-hyphen, .budget-amount-used, .budget-amount-left{
	padding-left: 3px;
    padding-right: 3px;
}
.budget-amount-left{
	float: right;
}

#budget-page-header{
	margin: 1% 10%;
    overflow: visible;
    height: 40px;
}
#budget-page-tag{
    float: left;
    padding-right: 40px;
    font-size: 26px;
    line-height: 40px;
}
#budget-page-repeat{
    float: left;
    padding-right: 40px;
    font-size: 11px;
    line-height: 40px;
}
#budget-page-repeat span{
	background-color: #65c3df;
    color: #fff;
    padding: 3px 10px;
    border-radius: .25em;
}
#budget-page-amount{
	float: left;
    padding-right: 10px;
    font-size: 22px;
    line-height: 40px;
}
#budget-page-stat{
	clear: both;
	margin: 1% 10%;
    overflow: visible;
    height: 40px;
}
#budget-page-spent{
    float: left;
    padding-right: 40px;
    font-size: 22px;
    color: #9c9c9c;
}
#budget-page-left{
    float: left;
    padding-right: 40px;
    font-size: 22px;
    color: #9c9c9c;
}
#budget-page-hint{
	float: left;
    padding-right: 10px;
    font-size: 22px;
    color: #9c9c9c;
}
#budget-timespan{
	margin: 1% 10%;
    font-size: 12px;
}
#budget-timespan-text{
	padding-right: 15px;
}
#budget-chart-space{
	clear: both;
	margin-top: 12%;
}
#logout{
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: #f4511e;
    color: #fff;
    padding: 4px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.search-container{
  margin: 3%;
}
.search-container .search-label{
  float: left;
  width: 15%;
}
.search-container .search-input{
  float: left;
}
#income-expense-search-btn{
  background-color: #f4511e;
  color: #fff;
  padding: 4px 23px;
  border-radius: 5px !important;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}
.search-results-container{
  clear: both;
  margin: 3%;
}
.search-results-container .income-results{
  width: 50%;
  float: left;
}
.search-results-container .expense-results{
  width: 50%;
  float: right;
}
.search-results-header{
  background-color: #ececec;
  text-align: center;
  color: #808080;
}
.empty-search-data{
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search-bag{
  margin: 5%;
  padding: 5px;
  border-radius: 5px;
}
.income-bag{
  border: #43bf58 1px solid;
  box-shadow: 1px 1px 3px #43bf58;
}
.expense-bag{
  border: #C9353B 1px solid;
  box-shadow: 1px 1px 3px #C9353B;
}
.search-bag .search-tag{
  padding: 5px;
}
.search-bag .search-amount{
  padding: 5px;
}
.search-bag .search-tag .tag-label{
  float: left;
  width: 25%;
}
.search-bag .search-amount .amount-label{
  float: left;
  width: 25%;
}


.account-info-space{
  padding: 30px;
}
.account-info-space .users-account-details{
  padding: 5px;
}
.account-info-space .users-account-details .label{
  width: 20%;
}
.account-info-space .users-account-details .value{
  color: #808080;
}
.users-btns{
  padding-left: 30px;
  padding-right: 30px;
}
.users-btns #add-user{
  background-color: #f4511e;
  color: #fff;
  padding: 5px 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.users-btns #users-invitations{
  background-color: #a7a7a7;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.add-income-img{
	position:fixed;
	top:550px;
	width:80px;
	height:80px;
}
.add-expense-img{
	position:fixed;
	top:550px;
	left:150px;
	width:80px;
	height:80px;
}
.add-budget-img{
	position:fixed;
	top:550px;
	left:300px;
	width:80px;
	height:80px;
}

.location-icon{
	width:25px;
	height:25px;
	cursor: pointer;
}
.close-icon{
	padding-left: 5px;	
}
.delete-user-icon{
	font-size: 14px;
	cursor: pointer;	
}
.delete-user-icon:hover{
  color: red;
}

.add-icon{
	width: 20px;
	height: 20px;
}
.search-icon{
	width: 25px;
	height: 25px;
	margin: 3px 3px;
}
.icon:hover{
	cursor:pointer;
}
.icon{
	margin: 3px 3px;
}

.dropdown{
    width: 270px;
    height: 42px;
    border: 1px solid #e5e5e5 !important;
    cursor: pointer;
    background-color: #fff;
}
.dropdown option {
	background-color: #efefef;
    border: 1px solid #eaeaea !important;
}
.month-changer{
	margin:auto;
	width:100%;
	position:relative;
	height:60px;
	text-align:center;
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.left-icon{
	display:inline-block;
	height:50px;
	width: 50px;
	float:left;
	text-align:center;
}

#selected_month{	
	display:flex;
	align-items:center;
	justify-content:center;
	height:50px;
	width:150px;
	float:left;
}

.right-icon{
	display:inline-block;
	height:50px;
	width: 50px;
	float:left;	
	text-align:center;
}

.timespan-nav-icon:hover{
  background-color: #e8e8e8;
}

/* Style the tab */
div.tab {
    float: left;
    background-color: #1a1a1a;
	width: 100%;
    height: 100%;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 16px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #aeadad;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #e8e7e7;
}
div.tab button.active .tab-title{
    color: #000000;
}
/* Style the tab content */
.page{
	width :100%;
	height: 100%;
}

.tab-title{
	color: #737373;
}



/* chart container */

#chartContainer{
	position:absolute;
	left:100px;
}
.canvasjs-chart-credit {
   display: none;
}

.chart-space{
	width: 100% !important;
}

.empty-data{
	text-align: center;
}

.empty-data img{
	width: 50%;
	height: 50%;
}

.empty-data-text{
	font-style: italic;
}

.table-space{
	width: 100% !important;
	position: relative;
	color: #000;
	border-radius: 0.4em;
	margin-bottom:10em;
}
.income-table-space{
	top: 350px;
}
.expense-table-space{
	top: 350px;
}
.users-table-space{
	top: 20px;
}
.table th{
	color: #808080;
  background-color: #ececec;
}

.users-account-details div{
	display:inline-block;
}
#income-location-map{
	height:300px;
	width:100%;
}
.income-show-more{
    text-align:center;
    font-weight: bold;
}
.income-show-more span{
    background-color:#d3d3d3;
    padding: 3px;
    cursor: pointer;
}
.income-additional-info-div{
	display:none;
}

#expense-location-map{
	height:300px;
	width:100%;
}
.expense-show-more{
    text-align:center;
    font-weight: bold;
}
.expense-show-more span{
    background-color:#d3d3d3;
    padding: 3px;
    cursor: pointer;
}
.expense-additional-info-div{
	display:none;
}
#location-in-map{
	width:100%;
	height:300px;
}

/*Plus style starts */
.plus {
   display: none;
   cursor: pointer;
   position: absolute;
   bottom: 10%;
   left: 4%;
   width: 80px;
   height: 80px;
   color: #f4d6d7;
   border-radius: 50%;
   border: none;
  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}
.plus.income{
	background: #43bf58;
}
.plus.expense{
	background: #C9353B;
}
.plus.budget{
	background: #368cb2;
}
.plus:after {
  content: "+";
  font-size: 4.5em;
  line-height: 1.1em;
}
.plus.income:hover {
  box-shadow: 0 0 1px 10px rgba(99, 181, 113, 0.4), 0 0 1px 17.5px rgba(99, 181, 113, 0.1), 0 0 1px 23px rgba(99, 181, 113, 0.1);
}
.plus.expense:hover {
  box-shadow: 0 0 1px 10px rgba(138, 59, 88, 0.4), 0 0 1px 17.5px rgba(138, 59, 88, 0.1), 0 0 1px 23px rgba(138, 59, 88, 0.1);
}
.plus.budget:hover {
  box-shadow: 0 0 1px 10px rgba(84, 167, 204, 0.4), 0 0 1px 17.5px rgba(84, 167, 204, 0.1), 0 0 1px 23px rgba(84, 167, 204, 0.1);
}
/*Plus style ends */

#set-offline-code{
	display: none;
}


/* Table style */

.table{
  font-size: 13px;
}
.amount-col{
	width: 11%;
}
.date-col,.tag-col,.description-col,.addedby-col{
	width: 15%;
}


.hint-text{
    font-style: italic;
    font-size: 14px;
    color: #00f;
}


.error-body{
	margin: 15%;
}
.already-loggedin{
  margin: 15%;
  text-align: center;
}
.already-loggedin .already-loggedin-text{
	font-size: 30px;
  padding-bottom: 15px;
}
.activation-link-sent{
  margin: 15%;
  text-align: center; 
}
.activation-link-sent .activation-link-sent-text{
  font-size: 25px;
}
.account-activated{
  margin: 15%;
  text-align: center; 
}
.account-activated .account-activated-text{
  font-size: 30px;
  padding-bottom: 15px;
}
.account-activated #activation-page-login{
  background-color: #f4511e;
  color: #fff;
  padding: 7px 22px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.account-not-activated{
  margin: 15%;
  text-align: center; 
}
.account-not-activated .account-not-activated-text{
  font-size: 30px;
}

#addUserModal .add-user-email-text{
  padding-top: 5px;
  padding-bottom: 10px;
}
#addUserModal .add-user-passcode-text{
  padding-top: 10px;
  padding-bottom: 5px;
}
#addUserModal .radio-div{
  padding-top: 5px;
  padding-bottom: 10px;
}
#addUserModal .radio-div span{
  margin-left: 15px;
  margin-right: 15px;
}
#addUserModal .invitation-not-sent{
  font-style: italic;
  font-size: 13px;
  color: #f4511e;
}